$accent: #2B4074;
$text-color: #4a4a4a;
$bg-color: #F9F6E5;
$default-color: #9b9b9b;

%dosis-300 {
    font-family: 'Dosis-light' ;
    font-weight: 300;
}

%dosis-500 {
    font-family: 'Dosis-Medium' ;
    font-weight: 500;
} 
%robotocondensed-400 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
%robotocondensed-700 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
%roboto-500{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
}

 